[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Siraj Chokshi
	email = 19193347+SirajChokshi@users.noreply.github.com
[pager]
	branch = false
[core]
	excludesfile = '~/.gitignore_global'
[pull]
	rebase = false
[credential]
	helper = osxkeychain